'menu': [
  {
    'label': 'MavensMate'
    'submenu': [
      {
        'label': 'Project'
        'submenu': [
          { 'label': 'Open Project...', 'command': 'mavensmate:open-project' }
          { 'label': 'New Project...', 'command': 'mavensmate:new-project' }
          { 'label': 'Edit Project...', 'command': 'mavensmate:edit-project' }
          { 'label': 'Compile Project', 'command': 'mavensmate:compile-project' }
          { 'label': 'Clean Project', 'command': 'mavensmate:clean-project' }
        ]
      }
      {
        'label': 'Metadata'
        'submenu': [
          { 'label': 'New Apex Class...', 'command': 'mavensmate:new-apex-class' }
          { 'label': 'New Apex Trigger...', 'command': 'mavensmate:new-apex-trigger' }
          { 'label': 'New VisualForce Page...', 'command': 'mavensmate:new-visualforce-page' }
          { 'label': 'New Visualforce Component...', 'command': 'mavensmate:new-visualforce-component' }
          { 'type' : 'separator' }
          { 'label': 'Update Project Metadata Index (.org_metadata)', 'command': 'mavensmate:index-metadata' }
        ]
      }
      {
        'label': 'Deploy'
        'submenu': [
          { 'label': 'Deploy to Server(s)...', 'command': 'mavensmate:deploy-to-server' }
        ]
      }
      {
        'label': 'Debugging'
        'submenu': [
          { 'label': 'Start Logging', 'command': 'mavensmate:start-logging' }
          { 'label': 'Stop Logging', 'command': 'mavensmate:stop-logging' }
        ]
      }
      {
        'label': 'Unit Testing'
        'submenu': [
          {
            'label': 'Open Apex Test Runner UI...',
            'command': 'mavensmate:run-apex-unit-tests'
          }
        ]
      }
    ]
  }
]
