'context-menu':
  # '.workspace':
  #   'MavensMate':
  #     'child-1': 'test-submenu:toggle'
  #     '-': '-'
  #     'child-2': 'test-submenu:toggle'
  '.workspace .line-number':
    'MavensMate':
      'Toggle Checkpoint': 'mavensmate:toggle-checkpoint'
